# Basic SQL commands

In [ ]:
x = 4 + 2